## DSS to Pandas DF

Testing [pydsstools](https://github.com/gyanz/pydsstools). Had to download 64-bit python and update jupyter

In [3]:
from platform import python_version

print(python_version())

3.11.4

In [4]:
import pandas as pd    
from pydsstools.heclib.dss import HecDss

In [13]:
#dss_file = "C:\_AA\_Tools\DSSToPandas\TestData.dss"
dss_file = r".\\TestData.dss"
pathname = "/REFERENCE LINES/CocodrieRi: WildCowByT1_USACE_TCLandside/FLOW/01Jan2013/15Minute/JAN2013/"

In [14]:
with HecDss.Open(dss_file) as fid:
    ts = fid.read_ts(pathname,regular=False,window_flag=0)
    d = {'Datetime': pd.Series(ts.pytimes), 'Value': pd.Series(ts.values)}
    dss_df = pd.DataFrame(d)

In [15]:
dss_df.head()

             Datetime         Value
0 2013-01-01 00:15:00 -3.402823e+38
1 2013-01-01 00:30:00 -3.402823e+38
2 2013-01-01 00:45:00 -3.402823e+38
3 2013-01-01 01:00:00 -3.402823e+38
4 2013-01-01 01:15:00 -3.402823e+38

In [16]:
dss_df.describe()

                  Datetime         Value
count                 2976  2.976000e+03
mean   2013-01-16 12:07:30          -inf
min    2013-01-01 00:15:00 -3.402823e+38
25%    2013-01-08 18:11:15  0.000000e+00
50%    2013-01-16 12:07:30  2.136743e+03
75%    2013-01-24 06:03:45  3.384308e+03
max    2013-02-01 00:00:00  5.974716e+03
std                    NaN           inf

In [17]:
dss_df.dtypes

Datetime    datetime64[ns]
Value              float32
dtype: object

In [18]:
dss_df.loc[dss_df['Value'] < 0, 'Value'] = 0

In [19]:
dss_df.head()

             Datetime  Value
0 2013-01-01 00:15:00    0.0
1 2013-01-01 00:30:00    0.0
2 2013-01-01 00:45:00    0.0
3 2013-01-01 01:00:00    0.0
4 2013-01-01 01:15:00    0.0

In [20]:
dss_df.describe()

                  Datetime        Value
count                 2976  2976.000000
mean   2013-01-16 12:07:30  2015.458374
min    2013-01-01 00:15:00     0.000000
25%    2013-01-08 18:11:15     0.000000
50%    2013-01-16 12:07:30  2136.742676
75%    2013-01-24 06:03:45  3384.307983
max    2013-02-01 00:00:00  5974.716309
std                    NaN  1567.985840