## Santa Fe River at Graham

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import datetime
from pydsstools.heclib.dss import HecDss

Specify the DSS file to be used. Relative path

In [2]:
dss_file = r".\\SantaFeLake.dss"

Specify the scenarios to be read. Must match Part F in the DSS file

In [3]:
scenarios = [
                "100yr_Base", 
                "100yr_Single_100",
                "100yr_Single_200",
                "100yr_Single_500",
                "100yr_Single_1000",
                "100yr_Single_2000",
                "100yr_Breaklines_50_100",
                "100yr_Breaklines_50_200",
                "100yr_Breaklines_100_500",
                "100yr_Breaklines_200_500",
                "100yr_Breaklines_300_1000",
                "100yr_Breaklines_300_2000",
                "100yr_Breaklines_500_2000",
                "100yr_Refinement_50_200",
                "100yr_Refinement_200_500",
                "100yr_Refinement_300_2000",
                "100yr_Hexagonal_50_200",
                "100yr_Hexagonal_300_2000",
                "100yr_Embankment_50_200",
                "100yr_Embankment_300_2000",
                "100yr_Br_50_200_025sqmi",
                "100yr_Br_300_2000_025sqmi",
]

In [4]:
base_pathname = "/REFERENCE LINES/Santa Fe Lake: USGS_SantaFeRiver_Graham/FLOW/01Dec1999/15Minute/"

In [5]:
# pathname = base_pathname + scenarios[0] + "/"
pathname = "/REFERENCE LINES/Santa Fe Lake: USGS_SantaFeRiver_Graham/FLOW/01Dec1999/15Minute/100yr_Breaklines_100_500/"

In [6]:
with HecDss.Open(dss_file) as fid:
    ts = fid.read_ts(pathname,regular=False,window_flag=0)
    d = {'Datetime': pd.Series(ts.pytimes), 'Value': pd.Series(ts.values)}
    dss_df = pd.DataFrame(d)   
    
dss_df

                Datetime         Value
0    1999-12-01 00:15:00 -3.402823e+38
1    1999-12-01 00:30:00 -3.402823e+38
2    1999-12-01 00:45:00 -3.402823e+38
3    1999-12-01 01:00:00 -3.402823e+38
4    1999-12-01 01:15:00 -3.402823e+38
...                  ...           ...
2971 1999-12-31 23:00:00 -3.402823e+38
2972 1999-12-31 23:15:00 -3.402823e+38
2973 1999-12-31 23:30:00 -3.402823e+38
2974 1999-12-31 23:45:00 -3.402823e+38
2975 2000-01-01 00:00:00  0.000000e+00

[2976 rows x 2 columns]

The datetime somehow starts before the simulation? Need to specify the simulation window

In [7]:
dss_df.describe()

                  Datetime         Value
count                 2976  2.976000e+03
mean   1999-12-16 12:07:30          -inf
min    1999-12-01 00:15:00 -3.402823e+38
25%    1999-12-08 18:11:15 -3.402823e+38
50%    1999-12-16 12:07:30 -3.402823e+38
75%    1999-12-24 06:03:45 -3.402823e+38
max    2000-01-01 00:00:00  0.000000e+00
std                    NaN           inf

In [8]:
start_datetime = datetime.strptime("2000-01-01 00:00:00", "%Y-%m-%d %H:%M:%S")
end_datetime = datetime.strptime("2000-06-01 00:00:00", "%Y-%m-%d %H:%M:%S")

In [9]:
# dss_df.loc[(dss_df['Datetime'] > start_datetime) & (dss_df['Datetime'] <= end_datetime)]
clip = dss_df.loc[(dss_df['Datetime'] > "2000-01-01 00:00:00")]
clip.head()

Empty DataFrame
Columns: [Datetime, Value]
Index: []

After much trial I've realised the DSS file is not being correctly. Maybe try from a csv instead